    /* Menghilangkan margin dan padding ekstra pada footer */
    footer#footer {
        margin: 0;
        padding: 20px 0;
        /* Sesuaikan padding sesuai kebutuhan */
        width: 100%;
        /* Memastikan footer mengisi lebar penuh */
    }

    .container,
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .main {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        margin-right: 10px;
    }

    #dasborTable th {
        text-align: center;
    }

    #dasborTable td {
        text-align: center;
    }

    /* Custom dropdown button */
    .custom-dropdown {
        font-size: 0.75rem;
        /* Small font size */
        padding: 0.25rem 0.5rem;
        /* Small padding */
        color: solid green;
        /* White text color */
        background-color: transparent;
        /* Transparent background */
        border: 1px solid green;
        /* Green border */
        width: 80px;
    }

    /* Hover effect for dropdown button */
    .custom-dropdown:hover {
        background-color: green;
        /* Green background on hover */
        color: white;
        /* Ensure text stays white */
    }

    /* Custom dropdown menu */
    .dropdown-menu-xs {
        font-size: 0.75rem;
        /* Small font size for dropdown items */
        padding: 0.25rem 0.5rem;
        /* Small padding */
        min-width: 6rem;
        /* Reduced minimum width */
    }

    /* Custom hover effect for dropdown items */
    .dropdown-menu-xs .dropdown-item:hover {
        background-color: green;
        /* Green background on hover */
        color: white;
        /* White text on hover */
    }

    .custom-button {
        font-size: 0.75rem;
        /* Small font size */
        padding: 0.25rem 0.5rem;
        /* Small padding */
        color: green;
        /* Green text color */
        background-color: transparent;
        border: 1px solid green;
        /* Green border */
        width: 80px;
        border-radius: 4px;
        /* optional biar sudutnya agak halus */
        cursor: pointer;
        /* biar kursor jadi tangan */
    }

    .custom-button:hover {
        background-color: green;
        /* Green background on hover */
        color: white;
        /* White text on hover */
    }